@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --editorial-orange: #FF4500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-editorial-orange: var(--editorial-orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Enforce white theme even in dark mode for this specific design */
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}
